$TTL 1D
@	IN SOA	{{ dns_hostname }}.{{ dns_suffix }}. root.{{ dns_suffix }}. (
					0	; serial
					1D	; refresh
					1H	; retry
					1W	; expire
					3H )	; minimum
@		IN	NS	{{ dns_hostname }}.{{ dns_suffix }}.
{{ dns_hostname }}	IN	A	{{ dns_ipv4_interface }}
server1		IN	A	10.0.0.10
server2		IN	A	10.0.0.11
server3		IN	A	10.0.0.12
