$TTL 1D
@       IN SOA  {{ dns_hostname }}.{{ dns_suffix }}. root.{{ dns_suffix }}. (
                                        0       ; serial
                                        1D      ; refresh
                                        1H      ; retry
                                        1W      ; expire
                                        3H )    ; minimum
@       IN      NS      {{ dns_hostname }}.{{ dns_suffix }}.
{{ dns_reverse_octet }}	IN	PTR	{{ dns_hostname }}.{{ dns_suffix }}.
10	IN	PTR	server1.mydomain.com.
11	IN	PTR	server2.mydomain.com.
12	IN	PTR	server3.mydomain.com.
